.main-div{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:10vh;
}

.water-background{
  background-color: #4B495F;
}
.game-heading{
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}

.square-wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
row-gap:10px;
column-gap: 10px;
}

.move-detection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}
.left, .right{
  height: 30px;
  width: 120px;
  background-color: red;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 7px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size: 22px;
  padding-bottom:5px;
  text-align: center;
}
