.main-div{
  display:flex;
  justify-content: center;
  align-items:center;
}

.water-background{
  background-color: #4B495F;
}
.game-heading{
  padding: 5px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
}

.square-wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
row-gap:10px;
column-gap: 10px;
}